/*头部*/
.header{
	width:100%;
	height:120px;
	background-color:#ffffff;
}
.header .header-con{
	overflow: hidden;
}
.header .header-con div img{
	float:left;
	margin-top:40px;
}
.header .header-con .header-nav{
	float:right;
	overflow: hidden;
}
.header .header-con .header-nav li{
	float:left;
	margin:0 40px;
	position:relative;
	overflow: hidden;
}
.header .header-con .header-nav li a{
	display:inline-block;
	line-height:120px;
	color:#999999;
}
.header .header-con .header-nav li span{
	width:0px;
	height:1px;
	position:absolute;
	top:79px;
	left:50%;
	margin-left:-16.5px;
	background-color: #fff;
	transition:all 2s;
}
.header .header-con .header-nav li.on a{
	color:#0f8e87;
}
.header .header-con .header-nav li.on span{
	width:33px;
	background-color: #0f8e87;
}
.header .header-con .header-nav li:hover a{
	color:#0f8e87;
	transition:color 2s;
}
.header .header-con .header-nav li:hover span{
	width:33px;
	background-color: #0f8e87;
}
/*背景图片*/
.backg-img{
	margin:0 auto;
}
.backg-img img{
	width:100%;
}
/*案例中心*/
.case{
	padding:40px 0 80px 0;
}
.case .place{
	color:#999999;
	font-size:16px;
	margin-bottom:80px;
}
.case .place a{
	color:#999999;
	font-size:16px;
}
.case .place a:hover{
	color:#009999;
	transition: color 2s;
}
.case .place a.on{
	color:#009999;
	font-size:16px;
}
.case .case-con{
	overflow: hidden;
}
.case .case-con li{
	width:582px;
	height:380px;
	position: relative;
	overflow: hidden;
	margin-bottom:25px;
	cursor: pointer;
}
.case .case-con li .intro{
	width: 582px;
	height:380px;
	background-color:rgba(250,250,250,.8);
	text-align: center;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 1;
	opacity: 0;

}
.case .case-con li .intro h2{
	display: block;
	font-size:14px;
	color:#666666;
	width:490px;
	height:50px;
	margin:0 auto;
	border-bottom:1px solid #d5d7d8;
	line-height:50px;
	margin-top:110px;
}
.case .case-con li .intro p{
	display: block;
	margin:0 auto;
	font-size:14px;
	color:#666666;
	width:490px;
	line-height:20px;
	margin-top:16px;
}
.case .case-con li:hover .intro{
	opacity: 1;
	transition:all 2s;
}
.case .case-con li:nth-child(2n-1){
	float: left;
}
.case .case-con li:nth-child(2n){
	float:right;
}
.case .console{
	padding:40px 0 2px 0;
	margin:0 auto;
	height:30px;
	width:551px;
	overflow: hidden;
}
.case .console div{
	width:80px;
	height:30px;
	line-height:30px;
	font-size:14px;
	color:#fff;
	text-align:center;
	background-color:#cccccc;
	border-radius:2px;
	float:left;
	margin:0 24px;
}
.case .console div:hover{
	background-color: #009999;
	cursor:pointer;
	transition:all 2s;
}
.case .console div:nth-child(1){
	margin-left:0;
}
.case .console span{
	display:inline-block;
	width:19px;
	height:27px;
	text-align: center;
	line-height:27px;
	font-size:12px;
	color:#000;
	margin:0 5px;
	float:left;
}
.case .console span:hover{
	cursor:pointer;
	transition:all 2s;
	color:#fff;
	background-image:url('../images/case7_03.png');
}
.case .console form{
	float:left;
}
.case .console form p{
	color:#999999;
	display: inline-block;
	height:30px;
	font-size:14px;
	text-align:center;
	line-height:30px;
}
.case .console form input{
	width:30px;
	height:30px;
	border:1px solid #cccccc;
	border-radius:1px;
	margin:0 8px;
}
.case .console form input.imput{
	width:60px;
	height:30px;
	border-radius:2px;
	background-color:#cccccc;
	text-align:center;
	line-height:30px;
	color:#fff;
}
.case .console form input.imput:hover{
	background-color: #009999;
	cursor:pointer;
	transition:all 2s;
}
/*底部*/
.footer{
	height:40px;
	border-top:1px solid #999999;
}
.footer .container{
	text-align:center;
}
.footer .container p{
	color:#999999;
	font-size:12px;
	line-height:40px;
}