/*头部*/
.header{
	height: 120px;
}
.header .logo{
	display: inline-block;
	margin-top: 40px;
}
.header .top-nav{
	display: inline-block;
	line-height: 120px;
	float: right;
}
.header .top-nav a{
	display: inline-block;
	position: relative;
	color: #999999;
	font-size: 16px;
	margin:0 40px;
}
.header .top-nav a.on{
	color: #0d8f85;
}
.header .top-nav a:hover{
	color: #0d8f85;
}
.header .top-nav .line{
	display: block;
	position: absolute;
	left: 0;
	left: 50%;
	margin-left: -34px;
	top: 74px;
	width: 68px;
	height: 1px;
	background-color: #0d8f85;
	opacity: 0;
}
.header .top-nav .on .line{
	opacity: 1;
}
.header .top-nav a:hover .line{
	opacity: 1;
}
/*轮播图*/
.rotation{
	margin-bottom: 40px;
}
.rotation img{
	width: 100%;
}
/*甘露霖D525W*/
.manna{
	border-bottom: 1px solid #eee;
}
.manna .manna_position{
	color: #999999;
	font-size: 16px;
	float: left;
	margin-left: 10px;
	overflow: hidden;
}
.manna .manna_text {
	display: inline-block;
	color: #999999;
	font-size: 16px;
	float: left;
}
.manna .manna_text span{
	color: #009999;
}
.manna .manna_current{
	margin-bottom: 86px;
}
.manna .D525W{
	text-align: center;
	margin-bottom: 82px;
}
.manna .D525W h2{
	color: #666666;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 40px;
}
.manna .parameter{
	overflow: hidden;
}
.manna .parameter h3{
	color: #666666;
	font-size: 24px;
	margin-bottom: 40px;
	text-align: center;
}
.manna .parameter .parameter_text{
	color: #666666;
	font-size: 16px;
}
.manna .parameter .parameter_text p{
	margin-bottom: 40px;
}
.manna .parameter .left{
	margin-left: 95px;
	float: left;
}
.manna .parameter .left p span{
	margin-left: 80px;
}
.manna .parameter .left p:nth-child(4) span{
	margin-left: 112px;
}
.manna .parameter .right{
	margin-right: 110px;
	float: right;
}
.manna .parameter .right p span{
	margin-left: 114px;
}
.manna .parameter .right p:nth-child(1) span{
	margin-left: 80px;
}
.manna .parameter .right p:nth-child(4) span{
	margin-left: 80px;
}
/*热门产品*/
.popular{
	margin-top: 40px;
	margin-bottom: 83px;
}
.popular h3{
	color: #666666;
	font-size: 24px;
	text-align: center;
	margin-bottom: 40px;
}
.popular img:nth-child(3){
	margin-left: 20px;
	margin-right: 20px;
}
/*底部*/
.footer{
	height: 70px;
	border-top: 1px solid #f0f0f0;
}
.footer p{
	color: #999999;
	font-size: 12px;
	line-height: 70px;
	text-align: center;
}